# Configurações do Banco de Dados PostgreSQL
DATABASE_URL="postgresql://postgres:suasenha@localhost:5432/worship_flow?schema=public"

# JWT Auth Secret
JWT_SECRET="um-segredo-super-seguro-aqui-123"

# Porta do Servidor
PORT=3001

# Chave de seguranca da API
API_KEY="sua-chave-api-123"
