# Configurações do Banco de Dados MySQL
DATABASE_URL="mysql://root:suasenha@localhost:3306/worship_flow"

# JWT Auth Secret
JWT_SECRET="um-segredo-super-seguro-aqui-123"

# Porta do Servidor
PORT=3001

# Chave de seguranca da API
API_KEY="sua-chave-api-123"
